body {
  font-family: 'Roboto', sans-serif;
  background-color: #d5d3f2;
  padding: 20px;
  margin: 0;
}

h1, h2 {
  color: #333;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

button {
  padding: 10px 20px;
  background-color: #6c63ff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

button:hover {
  background-color: #4f49db;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.edit-delete-buttons {
  display: flex;
  align-items: center;
}

.edit-input {
  width: 70%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

.edit-button {
  margin-left: 10px;
}
